dataset_comments35.csv
dataset_comments.csv
output.csv
output1.csv
backend/saved_model/
backend/__pycache__/model.cpython-39.pyc
backend/model.tf/variables/variables.data-00000-of-00001
backend/__pycache__/app.cpython-39.pyc
backend/model.tf/fingerprint.pb
backend/model.tf/variables/variables.index
backend/model.tf/saved_model.pb
backend/model1.tf/fingerprint.pb
backend/model1.tf/saved_model.pb
backend/model1.tf/variables/variables.data-00000-of-00001
backend/model1.tf/variables/variables.index
backend/model.onnx
backend/vocab.pkl
backend/best_cpu.tf/fingerprint.pb
backend/best_cpu.tf/saved_model.pb
backend/best_cpu.tf/variables/variables.index
backend/best_cpu.tf/variables/variables.data-00000-of-00001
